* {
    margin: 0;
    padding: 0;
}
header {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

.bottom-Line {
    width: 60px;
    height: 3px;
    background-color: #07cbc9;
    margin: 10px auto;
}

main .back {
    width: 1200px;
    height: 464px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}

main .back .left {
    float: left;
}

main .back .left .about_detail_back{
    width: 340px;
    padding: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 1;
    margin-top: 30px;
}

main .back .left .about_detail_back p.about-detail {
    font-size: 18px;
}

main .back .left .about_detail_back button {
    margin-top: 20px;
    display: block;
    width: 140px;
    height: 40px;
    background-color: black;
    color: #fff;
    border-width: 0;
}

main .back img {
    width: 650px;
    height: 435px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -325px;
    z-index: 0;
}

main .back .right {
    float: right;
    margin-left: 20px;
    width: 260px;
    text-align: center;
}

main .back .right ul li{
    list-style-type: none;
    margin-bottom:30px;
    border: 1px solid #07cbc9;
    padding-top: 40px;
    padding-bottom: 40px;
}
main .back .right ul li p:first-child{
    font-size: 20px;
    font-weight: bold;
}

main .img_text_mix {
    width: 100%;
    height: 760px;
    position: relative;
    overflow: hidden;
}

/* main .img_text_mix img {
    display: block;
    float: left;
    width: 25%;
    height: 50%;
    z-index: 10;
 } */

main .img_text_mix>div {
    
    width: 25%;
    height: 50%;
    float: left;
}

main .img_text_mix div.text {
    background-color: #07cbc9;
    position: relative;
}

main .img_text_mix div.text h2{
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
}

main .img_text_mix div.text p.p1{
    margin: 20px;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
}

main .img_text_mix div.text p.p2{
    margin: 20px;
    margin-bottom: 30px;
    color: gray;
    font-size: 14px;
}

main .img_text_mix div.text::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border: 20px solid transparent;
    position: absolute;
    top:50%;
    margin-top: -20px;
    z-index: 50;

}


main .img_text_mix div.left-arrow::before {
    left: -40px;
    border-right-color: #07cbc9;

}
main .img_text_mix div.right-arrow::before {
    right: -40px;
    border-left-color: #07cbc9;

}


main .img_text_mix div.text button{
    display: block;
    width: 138px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -69px;
    border-width: 0px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

main .cart_back {
    height: 100px;
    overflow: hidden;
}

main .cart_back .pic_box {
    float: left;
    height: 60px;
    margin: 20px ;
}

main .cart_back .cart {
    float: right;
    margin: 20px;
    position: relative;
}

main .cart_back .cart img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

main .cart_back .cart .count {
    position:absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
}